[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = {git = "https://github.com/behave/behave"}

[packages]
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"

[requires]
python_version = "3.5"
