{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - Criar Usuário{% endblock %}

{% block page_content %}

<h1>Novo</h1>

Formulário para criar novo usuário.


<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="form-group">
        <label for="formGroupExampletelefone">Telefone</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
    
        <div class="form-group">
          <label for="exampleInputNome">Nome address</label>
          <input type="Nome" class="form-control" id="exampleInputNome" aria-describedby="nomeHelp" placeholder="Enter Nome">
          <small id="nomeHelp" class="form-text text-muted">We'll never share your nome with anyone else.</small>
        </div>
        <div class="form-group"> 
                <div class="form-group">
                        <label for="formGroupExampleEndereço">Endereço</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="inserir Endereço">
                      </div>
                    
                      <div class="form-group">
                            <label for="formGroupExampleEstado">Estado</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="inserir Estado">
                          </div>
                          <div class="form-group">
                                <label for="formGroupExampleCidade">Cidade</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="inserir Cidade">
                              </div>
                              <div class="form-group">
                                    <label for="formGroupExamplepontodereferencia">Ponto de Referencia</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="inserir ponto de Referencia">
                                  </div>
                                
                        
            <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}
