body{
background-color: #1992b7 !important;

}
#C-box{
    background-color: #1992b7;
    width: 480px ;
    height: 580px ;
    margin: 20px auto 20px;
    border-radius: 5px;
}
#C-box-interno{
    width: 460px;
    height: 560px;
    background-color: #fdfdfd;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px black;
    overflow: hidden;
}
#C-box-label{
    height: 45px;
    text-align: center;

    font: bold 14px/45px sans-serif ;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
    background: #a9e4f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */

    border-bottom: 1 solid #bfc3c5;
    box-shadow: 1px 0 3px #dedede;
}
.input-div{
    margin: 20px;
    padding: 5px;
    background-color: #f2f5f7;
    border-radius: 3px;
}
.input-div input{
    width: 410px;
    height: 35px;
    padding-left: 5px;
    font: normal 13px sans-serif;
    color: #aeaeae;
    border-radius: 3px;
    border: 1px solid #bfc4c6;
    outline: none;
}
.input-div:hover{

    background-color: #e0f1fc;
}
.input-div:hover input{
    border-color: #7dc6dd;
    border: 5px;
}
#input-senha{
    margin-top: -10px;
}
#input-email{
    margin-top: -10px;
}
#input-telefone{
    margin-top: -10px;
}
#input-endereço{
    margin-top: -10px;
}
#input-estado{
    margin-top: -10px;
}
#input-cidade{
    margin-top: -10px;
}
#input-pdr{
    margin-top: -10px;
}

#botoes{
    width: 400px;
    margin-left: 40px;
    

}
#botao{

    float: right;
    background-color: #14708b;
    padding: 10px 19px;
    font: bold 12px sans-serif;
    border-radius: 20px;
    text-shadow: 0 1px 0 white;
    border: 1px solid #9eb9c3 ;
    color: white;
    box-shadow: 0 0 10px #c9c9c9;


}
#botao:hover{
    background: #184d5e;
    cursor:pointer;

}
#lembrar-senha{
    display:inline-block;
    font: bold 12px sans-serif;    
}


/* animando a tela de cadastro*/

.form{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{

    from{
        opacity: 0;
        transform: scale(0.8);

    }to{
        opacity: 1;
        transform: scale(1);

    }

}
